SECRET_KEY=change-this-in-development
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=
DB_NAME=eventtabs
DB_USER=event_users
DB_PASSWORD=event_pass
DB_HOST=127.0.0.1
DB_PORT=5432

# Email configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=Eventtab <your-email@gmail.com>
